@import url('https://fonts.googleapis.com/css?family=Oxanium');

body {
    font-family: 'Oxanium', sans-serif;
    margin: 60px auto;
    width: 70%;
    background-color: #262632
}

ul {
    list-style-type: none;
}

nav ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7733aa;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    cursor: pointer;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ff33aa;
    color: #000000;
    text-decoration: none;
}

nav li a:active {
    background-color: #ff33aa;
    color: #000000;
    text-decoration: none;
}

/* Text */

a {
    font-family: 'Oxanium', sans-serif;
    text-decoration: none;
    color: #ff99ee;
}

a ul li {
    font-family: 'Oxanium', sans-serif;
    font-size: 1.3em;
    color: #ff33aa;
    padding: 8px 8px 8px 8px;
    margin: 12px 12px 12px 12px;
}

a:hover {
    color: #ff33aa;
}

/*Page header*/

h1 {
    font-family: 'Oxanium', sans-serif;
    font-size: 2em;
    vertical-align: middle;
    padding: 32px 16px 32px 32px;
    color: #7733aa;
    background-color: #000000;
    margin: 0px 0px 0px 0px;
}

/*Game name*/

h2 {
    font-family: 'Oxanium', sans-serif;
    font-size: 1.6em;
    vertical-align: middle;
    padding: 16px 16px 16px 16px;
    color: #000000;
    background-color: #d9d9d9;
    margin: 0x 0px 0px 0px;
}

/*Game genre*/

h3 {
    text-align: center;
    font-family: 'Oxanium', sans-serif;
    font-size: 1.3em;
    color: #000000;
    padding: 8px 8px 8px 8px;
    margin: 12px 12px 12px 12px;
}

/* Text */

p {
    font-family: 'Oxanium', sans-serif;
    font-size: 1.2em;
    color: #ffffff;
    padding: 8px 8px 8px 8px;
    margin: 12px 12px 12px 12px;
}

footer {
    font-family: 'Oxanium', sans-serif;
    font-size: 1em;
    margin-right: 0px;
    cursor: pointer;
}

footer a {
    background-color: #7733aa;
    display: block;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
}

footer a:hover {
    display: block;
    background-color: #ff33aa; 
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
}

footer a:active {
    display: block;
    background-color: #ff33aa; 
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
}

/*Comments divider*/

comments {
    font-family: 'Oxanium', sans-serif;
    font-size: 1em;
    margin-right: 0px;
}

comments a {
    background-color: #7733aa;
    display: block;
    color: white;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
}

comments a:hover {
    background-color: #7733aa;
    display: block;
    color: white;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
}

comments a:active {
    background-color: #7733aa;
    display: block;
    color: white;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
}

/*Unordered list*/

ul.posts { 
    font-family: 'Oxanium', sans-serif;
    list-style: none;
    font-size: 1.3em;
    color: #ff33aa;
    padding: 8px 8px 8px 8px;
    margin: 12px 12px 12px 12px;
}

ul.posts li {
    font-family: 'Oxanium', sans-serif;
    list-style: none;
    font-size: 1.3em;
    color: #ff33aa;
    padding: 8px 8px 8px 8px;
    margin: 12px 12px 12px 12px;
}

/*Button*/

.myButton {
    background-color: #ff33aa;
    color: white;
    display:inline-block;
    cursor:pointer;
    text-decoration:none;
    font-family: 'Oxanium', sans-serif;
    font-size: 1em;
    vertical-align: middle;
    padding: 8px 8px 8px 8px;
    margin: 12px 12px 12px 12px;
}

.myButton:hover {
    cursor:pointer;
    text-decoration:none;
    background-color:#800000;
    color: #d9d9d9;
    padding: 8px 8px 8px 8px;
    margin: 12px 12px 12px 12px;
}

.myButton:active {
    cursor:pointer;
    text-decoration:none;
    color: #ff33aa;
    padding: 8px 8px 8px 8px;
    margin: 12px 12px 12px 12px;
}

#disqus_thread {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 24px;
    margin-left: 24px;
}

/*Logo*/

#logo {
width:656px;
height:369px
}

/*Space box*/

space a {
    background-color: #ff33aa;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 0;
}

/*Space box*/

mini-space a {
    background-color: #ff33aa;
    display: block;
    color: white;
    padding: 6px 16px;
    text-decoration: none;
    opacity: 0;
}

/*Space box*/

micro-space a {
    background-color: #ff33aa;
    display: block;
    color: white;
    padding: 6px 8px;
    text-decoration: none;
    opacity: 0;
}

/*Center image*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 75%;
}

.center-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

.center-universal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}
