<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	</head>
	<body>
		<a href="/"><img id=logo src=https://github.com/V3663L/v3663l.github.io/blob/main/media/V3663L%20Logo%20Inverted.png?raw=true" alt="" class="center-universal"></a>
		<nav>
			<ul>
				<li><a href="/">CATALOGUE</a></li>
				<li><a href="/blog">PATCH NOTES</a></li>
				<li><a href="/art">ART</a></li>
				<li><a href="/links">LINKS</a></li>
				<li><a href="/profile">PROFILE</a></li>
			</ul>
		</nav>
		<div class="container">
			
		{{ content }}
			
		</div><!-- /.container -->
		<footer>
			<a href="#top">▲ ASCEND</a>
		</footer>
		
		<p style="text-align:center;">© Copyright XX25</p>
	</body>
</html>
