<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	</head>
	<body>
		<a href="/"><img id=logo src="https://github.com/V3663L/v3663l.github.io/blob/main/images/V3663L%20Logo%20Inverted%20No%20Background.png?raw=true" alt="" class="center-universal"></a>
		<nav>
    		<ul>
        		<li><a href="/">MAIN MENU</a></li>
			<li><a href="/blog">//PATCH NOTES</a></li>
			<li><a href="/community">LEVEL SELECT/a></li>
	        	<li><a href="/about">CREDITS</a></li>
    		</ul>
		</nav>
		<div class="container">
			
		{{ content }}
			
		</div><!-- /.container -->
		<footer>
			<a href="#top">▲ Back to the top</a>
		</footer>
		
		<p style="text-align:center;">© Copyright 2016-2023</p>
	</body>
</html>
